.container {
  background-color: #f8f9fa;
  width: calc(100% - 2rem);
  margin: 1rem;
  height: auto;
  border-radius: 20px;
  padding: 1rem;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;

  .header-data {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    .title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #333;
    }

    .subtitle {
      font-size: 1rem;
      color: #666;
    }
  }

  .bookmark {
    margin-left: auto;
    font-size: 1.5rem;
    color: #888;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;

  .pros-cons-content {
    width: 45%;

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.3rem 0;
      }
    }
  }
}

.card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;

  .detail-label {
    font-weight: bold;
    margin-right: 0.5rem;
  }
}

.green {
  color: #28a745;
}

.red {
  color: #dc3545;
}
