<div class="container">
  <div class="header">
    <app-recommendation-circle
      [value]="data?.score || 0"
    ></app-recommendation-circle>
    <div class="header-data">
      <span class="poppins-black-title big">{{ data?.value?.title }}</span>
      <span class="poppins-black-title">{{ data?.value?.address }}</span>
    </div>
    <mat-icon class="bookmark">bookmark</mat-icon>
  </div>

  <div class="card-content">
    <app-image-slider
      [images]="data?.value?.image_urls || []"
      [delayBetweenSwitches]="0"
      [height]="150"
      [width]="250"
    ></app-image-slider>
    <div class="pros-cons-content">
      <span class="poppins-black-title big"
        >{{ data?.value?.price?.min }}$ / mo</span
      >

      <span class="poppins-black-title" *ngFor="let p of data?.pros">
        <span class="green">+ &nbsp;</span>{{ p }}</span
      >
      <span class="poppins-black-title" *ngFor="let c of data?.cons"
        ><span class="red">- &nbsp;</span>{{ c }}</span
      >
    </div>
  </div>
</div>
