<app-landing-header [selected]="selectedHeader"></app-landing-header>

<div class="container-layout">
  <div class="left-column">
    <mat-card class="request-card">
      <mat-card-content>
        <h5>{{ myRoomateRequest ? 'Consult your request' : 'Seems like you didnt create a request yet' }}</h5>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent" (click)="editRequest()">
          {{ myRoomateRequest ? 'Edit My Request' : 'Create a Request' }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="main-content">
    <h1>Find the perfect roommates for you</h1>

    <mat-form-field class="search-field">
      <input matInput placeholder="Search for roommates" [(ngModel)]="searchQuery" (keyup)="searchRoommates()">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    <div *ngFor="let request of roomateRequests" class="roomate-request">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ request.user.username }}</mat-card-title>
          <mat-card-subtitle>{{ request.createdAt | date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ request.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="viewRequestDetails(request.id)">Voir Détails</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <mat-paginator
      [length]="100"
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 20]"
      (page)="onPageChange($event)">
    </mat-paginator>
  </div>
</div>
