<div id="container">
  <app-map-sidebar [data]="apartments"></app-map-sidebar>

  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v9'"
    [zoom]="[10]"
    [center]="[-73.567253, 45.50169]"
    (mapCreate)="onMapLoaded($event)"
    (click)="onMapClick($event)"
  >
    <mgl-geojson-source
      *ngFor="let pinData of pinClasses"
      [id]="pinData.id"
      [data]="pinData.features"
    ></mgl-geojson-source>

    <mgl-layer
      *ngFor="let pinData of pinClasses"
      [id]="pinData.iconName"
      type="symbol"
      [source]="pinData.id"
      [layout]="{
        'icon-image': pinData.iconName,
        'icon-anchor': 'bottom',
        'icon-size': 0.3
      }"
    >
    </mgl-layer>
  </mgl-map>
</div>
