/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-black-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.small {
  font-size: 40px;
}

.huge {
  font-size: 5rem;
}

h1.no-margin {
  margin: 0;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.end {
  justify-content: space-between;
  align-items: center;
}
