.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;

  .title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #333;
  }

  .card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 1.8rem;
      margin-bottom: 15px;
      color: #444;
    }

    .form-row {
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;

      label {
        font-weight: bold;
        color: #555;
        margin-bottom: 5px;
      }

      textarea,
      input {
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        width: 100%;
      }

      .checkbox-container {
        display: flex;
        align-items: center;
        input {
          margin-right: 10px;
        }
      }

      &.readonly {
        input {
          background-color: #f3f3f3;
          cursor: not-allowed;
        }
      }
    }

    .button-container {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    
    .toggle-request-btn {
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 5px;
      text-transform: capitalize;
      transition: background-color 0.3s ease, transform 0.2s ease;
    }
    
    .toggle-request-btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
    .submit-request-btn {
      font-size: 1rem;
      padding: 10px 20px;
      border-radius: 5px;
      text-transform: uppercase;
      transition: background-color 0.3s ease, transform 0.2s ease;
      background-color: #2bcb1a !important;
    }
    
    .submit-request-btn:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
    
  }

  .info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1rem;

    .label {
      font-weight: bold;
      color: #555;
    }

    .value {
      color: #333;
    }
  }

  .no-preferences {
    text-align: center;
    p {
      font-size: 1rem;
      color: #666;
    }
    button {
      margin-top: 10px;
      font-size: 1rem;
    }
  }
}
