<div class="container">
  <app-landing-header></app-landing-header>
  <div class="center-text">
    <h1 class="poppins-black-title huge no-margin">Finding that apartment</h1>
    <div class="flex row end">
      <h1 class="poppins-black-title huge no-margin">
        with
        <span class="colored">AI</span>
      </h1>
    </div>
    <!-- should we use roter instead of hrefs? -->
    <a href="/map" class="no-underline">
      <app-gradient-button id="get-started" [width]="200" [height]="75"
        >Get started</app-gradient-button
      >
    </a>
  </div>
  <app-image-slider
    [images]="images"
    [delayBetweenSwitches]="5000"
    [height]="300"
    [width]="600"
  ></app-image-slider>
</div>
