<div class="container" (click)="selectAccommodation()">
    <div class="header">
      <app-recommendation-circle [value]="formattedScore"></app-recommendation-circle>
      <div class="header-data">
        <span class="title">{{ data.accommodation.title }}</span>
        <span class="subtitle">{{ data.accommodation.address.placeName }}</span>
      </div>
      <mat-icon class="bookmark">bookmark</mat-icon>
    </div>
    <div class="card-content">
      <ng-container *ngIf="data.accommodation.imageUrls.length > 0">
        <app-image-slider
        [images]="toImage(data.accommodation.imageUrls)"
        [delayBetweenSwitches]="0"
        [height]="150"
        [width]="250"
      ></app-image-slider>
      </ng-container>
  
    <div class="card-content">
      <div class="pros-cons-content">
        <h3 class="green">Pros</h3>
        <ul>
          <li *ngFor="let pro of pros" class="green">{{ pro }}</li>
        </ul>
      </div>
      <div class="pros-cons-content">
        <h3 class="red">Cons</h3>
        <ul>
          <li *ngFor="let con of cons" class="red">{{ con }}</li>
        </ul>
      </div>
    </div>
  
    <div class="card-footer">
      <div>
        <span class="detail-label">Price:</span> ${{ data.accommodation.price }}
      </div>
      <div>
        <span class="detail-label">Bedrooms:</span> {{ data.accommodation.bedrooms }}
      </div>
      <div>
        <span class="detail-label">Bathrooms:</span> {{ data.accommodation.bathrooms }}
      </div>
    </div>
  </div>
  