button {
    // background: linear-gradient(45deg, #02c39a, #05668d);
    height: 55px;
    width: 225px;
    border-radius: 55px;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  .inside-text {
    color: rgb(46, 46, 46);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
  