<ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
  <div class="auth-button" (click)="auth.logout({ logoutParams: { returnTo: document.location.origin } })">
    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
    <span class="text">Log out</span>
  </div>
</ng-container>

<ng-template #loggedOut>
  <div class="auth-button" (click)="auth.loginWithRedirect()">
    <span class="icon"><i class="fas fa-sign-in-alt"></i></span>
    <span class="text">Sign in</span>
  </div>
</ng-template>
