<div class="circle-container" [ngClass]="getClass()" [style.width.px]="size" [style.height.px]="size">
  <svg [attr.viewBox]="viewBox">
    <circle
      class="circle-bg"
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      [attr.r]="radius"
      [attr.stroke-width]="stroke"
    ></circle>
    <circle
      class="circle-progress"
      [attr.cx]="size/2"
      [attr.cy]="size/2"
      [attr.r]="radius"
      [attr.stroke-width]="stroke"
      [attr.stroke-dasharray]="circumference"
      [attr.stroke-dashoffset]="dashoffset"
    ></circle>
  </svg>
  <div class="percentage">{{ value }}%</div>
</div>
