<div class="address-autocomplete-wrapper">
  <input
    type="text"
    [formControl]="addressControl"
    placeholder="Enter an address"
    class="form-control"
  />
  <ul *ngIf="suggestions.length > 0" class="address-suggestions">
    <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">
      {{ suggestion.place_name }}
    </li>
  </ul>
</div>

<div class="apartment-number-wrapper">
  <mat-form-field appearance="outline">
    <mat-label>Door Number / Apartment</mat-label>
    <input
      matInput
      type="text"
      [formControl]="apartmentNumberControl"
      (input)="setApartmentNumber($event)"
    />
    <mat-icon matSuffix>home</mat-icon>
  </mat-form-field>
</div>
