<div id="container">
  <mat-drawer-container>
    <mat-drawer mode="side" [opened]="sidebarOpened">
      <app-map-sidebar
        #sidebar
        [data]="apartments"
        [matchingFeature]="false"
        [opened]="sidebarOpened"
        (sidebarToggle)="toggleSidebar()"
      ></app-map-sidebar>
    </mat-drawer>
    
    <mat-drawer-content>
      <div class="sidebar-toggle-wrapper" [class.sidebar-open]="sidebarOpened">
        <button class="sidebar-toggle" (click)="toggleSidebar()">
          <mat-icon>{{ sidebarOpened ? 'chevron_left' : 'chevron_right' }}</mat-icon>
        </button>
      </div>
      
      <mgl-map
        class="map"
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[10]"
        [center]="[-73.567253, 45.50169]"
        (mapCreate)="onMapLoaded($event)"
        (click)="onMapClick($event)"
      >
        <mgl-geojson-source
          *ngFor="let pinData of pinClasses"
          [id]="pinData.id"
          [data]="pinData.features"
        ></mgl-geojson-source>

        <mgl-layer
          *ngFor="let pinData of pinClasses"
          [id]="pinData.iconName"
          type="symbol"
          [source]="pinData.id"
          [layout]="{
            'icon-image': pinData.iconName,
            'icon-anchor': 'bottom',
            'icon-size': 0.3,
            'icon-allow-overlap': true
          }"
          [paint]="{}"
          [filter]="['has', 'id']"
          (layerClick)="onMarkerClick($event)"
        >
        </mgl-layer>
      </mgl-map>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
