.circle-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  svg {
    transform: rotate(-90deg);
    overflow: visible;
  }
  
  .circle-bg {
    fill: none;
    stroke: #f0f0f0;
  }
  
  .circle-progress {
    fill: none;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease;
  }
  
  .percentage {
    position: absolute;
    font-size: 1.2rem;
    color: black !important;
    font-family: 'Poppins', sans-serif;
  }
  
  &.green {
    .circle-progress {
      stroke: #00bca1;
    }
    .percentage {
      color: #00bca1;
    }
  }
  
  &.yellow {
    .circle-progress {
      stroke: #ff9800;
    }
    .percentage {
      color: #ff9800;
    }
  }
  
  &.red {
    .circle-progress {
      stroke: #f44336;
    }
    .percentage {
      color: #f44336;
    }
  }
}
