<div class="flex row end container">
  <p class="dm-serif-display-regular-italic small">appart.ai</p>
  <div class="header-group">
    <a href="https://google.com" class="header-item"
      ><app-gradient-button [styleOnHover]="true">Home</app-gradient-button></a
    >
    <a class="header-item"
      ><app-gradient-button [styleOnHover]="true"
        >Browse</app-gradient-button
      ></a
    >
    <a class="header-item"
      ><app-gradient-button [styleOnHover]="true"
        >About us</app-gradient-button
      ></a
    >
  </div>
  <app-gradient-button [width]="150" [styleOnHover]="true"
    >Sign in</app-gradient-button
  >
</div>
